body {
  margin: 0;
  font-family: 'Comic Sans MS', cursive;
  background: linear-gradient(135deg, #ffd6e8, #ffeaf4);
  min-height: 100vh;
  overflow-y: auto;
  text-align: center;
}

.page {
  display: none;
  height: 100vh;
  min-height: 100vh;
  padding: 150px 100px 200px 100px;
  box-sizing: border-box;
}

.active {
  display: block;
}

h1 {
  color: #ff4d88;
}

h3 {
  padding-bottom: 100px;
}

button {
  padding: 12px 25px;
  border: none;
  border-radius: 20px;
  background: #ff66a3;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  transition: 0.3s;
  margin-bottom: 80px;
}

button:hover {
  transform: scale(1.1);
}

.no-btn {
  position: absolute;
  background: gray;
}

.heart {
  position: fixed;
  top: -10px;
  color: #ff66a3;
  animation: fall linear forwards;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}

.option {
  display: inline-block;
  margin: 20px;
  cursor: pointer;
}

.option img {
  width: 150px;
  border-radius: 15px;
  transition: 0.3s;
}

.option img:hover {
  transform: scale(1.1);
}

.gift {
  font-size: 200px;
  cursor: pointer;
}

.voucher {
  background: white;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 15px;
  margin-top: 20px;
  display: none;
}

.final-img {
  width: 250px;
  border-radius: 20px;
  margin-top: 20px;
}


/* DATE INPUT */
.date-input {
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 30px;
  border: 2px solid #ff69b4;
  outline: none;
  background-color: #fff0f6;
  color: #ff4d88;
  font-weight: 600;
  box-shadow: 0 5px 15px rgba(255, 105, 180, 0.3);
  transition: all 0.3s ease;
  cursor: pointer;
}

.date-input:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(255, 105, 180, 0.5);
}

.date-input:focus {
  border-color: #ff1493;
  box-shadow: 0 0 15px rgba(255, 20, 147, 0.6);
}

/* Bikin icon kalender jadi pink */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(60%) sepia(80%) saturate(400%) hue-rotate(300deg);
  cursor: pointer;
}
